.Login {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  form {
    padding: 40px 24px;
    background-color: #1f2428;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    label {
      color: #FFF;
    }
    button {
      margin-top: 16px;
    }

    .Avatar {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
      &:before {
        content: "";
        display: block;
        border-radius: 50%;
        width: 126px;
        height: 126px;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    @media (min-width: 768px) {
      flex-direction: row;
      .Avatar {
        width: 150px;
        justify-content: flex-start;
        margin-bottom: 0;
        &:before {
          margin-top: 4px;
        }
      }
      .FormContent {
        width: calc(100% - 150px)
      }
    }
  }
}