.Login {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  form {
    padding: 40px 24px;
    background-color: #1f2428;
    border-radius: 6px;
    display: flex;
    label {
      color: #FFF;
    }
    button {
      margin-top: 16px;
    }

    .Avatar {
      width: 150px;
      &:before {
        content: "";
        display: block;
        border-radius: 50%;
        width: 126px;
        height: 126px;
        margin-top: 4px;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    .FormContent {
      width: calc(100% - 150px)
    }
  }
}